h1 {
  color: #f7325e;
  font-family: sans-serif;
}
p {
  color: #800000;
}
.experience {
  font-style: italic;
  font-size: 20px;
}
.school {
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  color: blue;
}
.box {
  border-left: 2px  solid black;
  border-right: 4px solid black;
  border-top: 6px solid black;
  border-bottom: 8px solid black;
}
.main {

}

.info {
  float: left;
  margin-top: 0px;
  padding-top: 20px;
}
body {
  

}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
.logo {
  float: right;
}
.interests {
  float: left;
}
