h1 {
  color: #000000;
  font-family: sans-serif;
}
p {
  color: #800000;
}
image {
  border-left: 2px;
}
.experience {
  font-style: italic;
  font-size: 20px;
}

.box {
  border-left: 2px  solid black;
  margin-right: 100px;
  border-right: 2px solid black;
  border-top: 6px solid black;
  border-bottom: 8px solid black;
}
.main {

}

.info {
  float: left;
  margin-top: 0px;
  padding-top: 20px;

}
body {
  background-image: url(../images/4683.jpg);
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
.logo {
  float: right;
}
.interests {
  float: left;

}
.hobbies {
  border-left: 20px;
  float: left;
}
