.experience {
  font-style: italic;
  font-size: 20px;
}
.school {
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  color: blue;
}


.main {

}

.info {
  float: left;
  margin-top: 0px;
  padding-top: 20px;
}
body {
  background-color: #D4B996FF;

}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
.logo {
  float: right;
}
.interests {
  float: left;
}
